<!DOCTYPE html>
<html lang="en">
<head>
<title>ST202V - TRABAJO FINAL</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		
<script>
	function confirmarRegistro(){
		if(confirm("¿Desea continuar con el registro de servicio?")){
			document.form1.submit();
		}else{
			return false;
		}
	}
</script>
</head>
<body>
	<div class="header">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<!-- Logo -->
					<div class="logo">
						<h1>
							{% load static %} 

							<img src="../static/images/logo.png" width="20%" height="20%"> ST202V
							- Taxi Confiable App

						</h1> 
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
	<!-- TODO Descomentar 
		<h2>Registro de Servicio de Taxi</h2>
-->
   		 {{ form }}
		<form action="/registrarServicio" name="form1" method="POST">
					 {% csrf_token %}
					 
			<div class="form-group">
				<label for="nombre">Nombre Cliente:</label> <input type="text"
					class="form-control" id="nombre" placeholder="Ingrese nombre"
					name="nombre">
			</div>
								 
			<div class="form-group">
				<label for="origen">Dirección Origen:</label> <input type="text"
					class="form-control" id="origen" placeholder="Ingrese dirección origen"
					name="origen">
			</div>
			
			<div class="form-group">
				<label for="destino">Dirección Destino:</label> <input type="text"
					class="form-control" id="destino" placeholder="Ingrese dirección destino"
					name="destino">
			</div>
			
		
			<div class="form-group">
				<label for="inicio">Fecha/Hora inicio de servicio:</label> <input type="text"
					class="form-control" id="inicio" placeholder="Ingresa fecha/hora inicio"
					name="inicio">
			</div>
			
			
			<div class="form-group">
				<label for="fin">Fecha/Hora fin de servicio:</label> <input type="text"
					class="form-control" id="fin" placeholder="Ingrese fecha/hora fin"
					name="fin">
			</div>

			<div class="form-group">
				<label for="tarifa">Tarifa:</label> <input type="text"
					class="form-control" id="tarifa" placeholder="Ingrese tarifa"
					name="tarifa">
			</div>			
		
		
			<button type="button" class="btn btn-default" onclick="javascript:confirmarRegistro()">Registrar</button>
		
		</form>
	</div>

</body>
</html>